.place_selector_menu_wrapper {
  position: absolute;
  top: 0; left: 0;

  #place-selector-menu {
    display: none;
  }
}

// place save form
.add_place_form_wrapper {
  position: absolute;
  top: 3%;
  left: 6%;

  .place-save-form-card.mdl-card {
    width: 320px;
    height: 500px;

    .mdl-card__title {
      color: #fff;
      background:
        url('../images/upload_icon.png') center right 15% no-repeat #46B6AC;
      background-size: 35%;
    }

    form#place_save_form {
      #place-desc {
        resize: none;
      }
    }

    div.additional-info {
      & > div:not(:last-child) {
        margin-bottom: 10px;
      }

      div {
        i, span { vertical-align: middle; }
      }

      .selector-menu-button {
        color: #757575;
        font-weight: 400;
        font-family: "Helvetica","Arial",sans-serif;
        font-size: 14px;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        height: 20px;
        width: 85%;
        text-align: left;
        line-height: 0;
        background: none !important;
      }

      .zoom-values {
        * {display: inline-block;}
        li{
          background: #eee;
          width: 20px;
          text-align: center;
          cursor: pointer;

          &.added {
            color: white;
            background: rgb(66,133,244);
          }
        }
      }
    }
  }
}
